@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.rays {
  background-image: repeating-linear-gradient(
      25deg,
      #fff 0%,
      #fff 7%,
      transparent 10%,
      transparent 12%,
      #fff 16%
    ),
    repeating-linear-gradient(25deg, #262626 100%, #262626 100%);
  background-size: 150%;
  filter: blur(10px) invert(100%);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #14b8a6;
  border-radius: 5px;
}
